<app-footer-icon _ngcontent-serverapp-c163="" _nghost-serverapp-c147="">


        <!-- <section _ngcontent-serverapp-c147="" class="app">
        <h2 _ngcontent-serverapp-c147="">ỨNG DỤNG</h2>
        <ul _ngcontent-serverapp-c147="">
            <li _ngcontent-serverapp-c147=""><a _ngcontent-serverapp-c147="" target="_blank"
                    href="https://landing-page.cdn-dysxb.com/NOHU.com/"><i _ngcontent-serverapp-c147=""><img
                            _ngcontent-serverapp-c147="" alt=""
                            src="/cdn/system-requirement/Web.MobileNew/UA531-01/90e8311384/assets/images/footer/android-icon.svg"></i><span
                        _ngcontent-serverapp-c147="">TẢI XUỐNG</span></a></li>
            <li _ngcontent-serverapp-c147=""><a _ngcontent-serverapp-c147="" target="_blank"
                    href="https://landing-page.cdn-dysxb.com/NOHU.com/"><i _ngcontent-serverapp-c147=""><img
                            _ngcontent-serverapp-c147="" alt=""
                            src="/cdn/system-requirement/Web.MobileNew/UA531-01/90e8311384/assets/images/footer/ios-icon.svg"></i><span
                        _ngcontent-serverapp-c147="">TẢI XUỐNG</span></a></li>
        </ul>
        <div _ngcontent-serverapp-c147="" class="img-wrapper"><img _ngcontent-serverapp-c147="" alt=""
                src="/cdn/system-requirement/Web.MobileNew/UA531-01/90e8311384/assets/images/footer/mobile.png">
        </div>
    </section>
    <section _ngcontent-serverapp-c147="" class="chat24"><img _ngcontent-serverapp-c147="" alt=""
            src="/cdn/system-requirement/Web.MobileNew/UA531-01/90e8311384/assets/images/footer/footer_img.png">
    </section> -->




        <section _ngcontent-serverapp-c147="" class="icon">


                <div _ngcontent-serverapp-c147="">
                        <h2 _ngcontent-serverapp-c147="">GIẤY PHÉP GAME</h2>
                        <ul _ngcontent-serverapp-c147="">
                                <li _ngcontent-serverapp-c147=""><img _ngcontent-serverapp-c147="" alt=""
                                                src="/cdn/system-requirement/Web.MobileNew/UA531-01/90e8311384/assets/images/footer/t1.svg">
                                </li>
                        </ul>
                </div>


                <div _ngcontent-serverapp-c147="">
                        <h2 _ngcontent-serverapp-c147="">Chứng chỉ</h2>
                        <ul _ngcontent-serverapp-c147="">
                                <li _ngcontent-serverapp-c147=""><img _ngcontent-serverapp-c147="" alt=""
                                                src="/cdn/system-requirement/Web.MobileNew/UA531-01/90e8311384/assets/images/footer/m1.png">
                                </li>
                                <li _ngcontent-serverapp-c147=""><img _ngcontent-serverapp-c147="" alt=""
                                                src="/cdn/system-requirement/Web.MobileNew/UA531-01/90e8311384/assets/images/footer/m2.png">
                                </li>
                                <li _ngcontent-serverapp-c147=""><img _ngcontent-serverapp-c147="" alt=""
                                                src="/cdn/system-requirement/Web.MobileNew/UA531-01/90e8311384/assets/images/footer/m3.png">
                                </li>
                                <li _ngcontent-serverapp-c147=""><img _ngcontent-serverapp-c147="" alt=""
                                                src="/cdn/system-requirement/Web.MobileNew/UA531-01/90e8311384/assets/images/footer/m4.png">
                                </li>
                                <li _ngcontent-serverapp-c147=""><img _ngcontent-serverapp-c147="" alt=""
                                                src="/cdn/system-requirement/Web.MobileNew/UA531-01/90e8311384/assets/images/footer/m5.png">
                                </li>
                                <li _ngcontent-serverapp-c147=""><img _ngcontent-serverapp-c147="" alt=""
                                                src="/cdn/system-requirement/Web.MobileNew/UA531-01/90e8311384/assets/images/footer/m6.png">
                                </li>
                        </ul>
                </div>


                <div _ngcontent-serverapp-c147="">
                        <h2 _ngcontent-serverapp-c147="">Phương thức thanh toán</h2>
                        <ul _ngcontent-serverapp-c147="">
                                <li _ngcontent-serverapp-c147=""><img _ngcontent-serverapp-c147="" alt=""
                                                src="/cdn/system-requirement/Web.MobileNew/UA531-01/90e8311384/assets/images/footer/b1.svg">
                                </li>
                                <li _ngcontent-serverapp-c147=""><img _ngcontent-serverapp-c147="" alt=""
                                                src="/cdn/system-requirement/Web.MobileNew/UA531-01/90e8311384/assets/images/footer/b2.svg">
                                </li>
                                <li _ngcontent-serverapp-c147=""><img _ngcontent-serverapp-c147="" alt=""
                                                src="/cdn/system-requirement/Web.MobileNew/UA531-01/90e8311384/assets/images/footer/b3.svg">
                                </li>
                                <li _ngcontent-serverapp-c147=""><img _ngcontent-serverapp-c147="" alt=""
                                                src="/cdn/system-requirement/Web.MobileNew/UA531-01/90e8311384/assets/images/footer/b4.svg">
                                </li>
                                <li _ngcontent-serverapp-c147=""><img _ngcontent-serverapp-c147="" alt=""
                                                src="/cdn/system-requirement/Web.MobileNew/UA531-01/90e8311384/assets/images/footer/b5.svg">
                                </li>
                                <li _ngcontent-serverapp-c147=""><img _ngcontent-serverapp-c147="" alt=""
                                                src="/cdn/system-requirement/Web.MobileNew/UA531-01/90e8311384/assets/images/footer/b6.svg">
                                </li>
                                <li _ngcontent-serverapp-c147=""><img _ngcontent-serverapp-c147="" alt=""
                                                src="/cdn/system-requirement/Web.MobileNew/UA531-01/90e8311384/assets/images/footer/b7.svg">
                                </li>
                                <li _ngcontent-serverapp-c147=""><img _ngcontent-serverapp-c147="" alt=""
                                                src="/cdn/system-requirement/Web.MobileNew/UA531-01/90e8311384/assets/images/footer/b8.svg">
                                </li>
                        </ul>
                </div>


                <p _ngcontent-serverapp-c147="" class="copyright">
                        <%=dataPage.session.siteConfig.copyright;%>
                </p>

                <p _ngcontent-serverapp-c147="" class="copyright">
                        <center>
                                Copyright © <%=dataPage.session.siteConfig.site_url.toUpperCase();%> Reserved
                        </center>
                </p>

        </section>
</app-footer-icon>