<div _ngcontent-serverapp-c163="" class="news ml-2">
    <div _ngcontent-serverapp-c163="" class="news-wrapper">
        <app-hot-news _ngcontent-serverapp-c163="" _nghost-serverapp-c89="">
            <div _ngcontent-serverapp-c89="" class="relative h-6 pr-2 pl-12 text-xs leading-6">

                <div _ngcontent-serverapp-c89="" class="absolute top-0 left-2 w-6 text-white">
                    <i _ngcontent-serverapp-c89=""
                        class="fas fa-volume mx-0.5 inline-block align-middle text-xl leading-6"></i>
                </div>

                <ngx-marquee _ngcontent-serverapp-c89="" class="overflow-hidden"
                    _nghost-serverapp-c88="">
                    <div _ngcontent-serverapp-c88="" class="ngx-marquee">
                        <span _ngcontent-serverapp-c88="" data-play-state="running"
                            style="animation-timing-function: linear; animation-delay: 0s; animation-iteration-count: infinite; animation-direction: normal; animation-fill-mode: none; animation-name: movement-smooth;">
                            <span _ngcontent-serverapp-c88="" class="tickers">
                                <span _ngcontent-serverapp-c89=""
                                    class="mx-1.5 inline-block whitespace-nowrap align-top leading-6">
                                    <%=dataPage.session.siteConfig.site_brand_marquee;%>
                                </span>
                            </span>
                    </div>
                </ngx-marquee>

            </div>
        </app-hot-news>
    </div>
    <span _ngcontent-serverapp-c163="" class="domain">Tin tức mới</span>
</div>
