.m-member-center-main {
    background-color: #ededed;
    min-height: var(--window-inner-height)
}

.m-member-center-main .navbar {
    background-color: #fff;
    color: #454545;
    height: 45px;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999
}

.m-member-center-main .navbar .left,
.m-member-center-main .navbar .right {
    flex: .25;
    line-height: 1
}

.m-member-center-main .navbar .title {
    font-size: 20px;
    line-height: 1
}

.m-member-center-main .navbar .left i {
    color: #e84d00;
    font-size: 30px;
    margin-left: 10px
}

.m-member-center-main .navbar .right {
    font-size: 14px;
    text-align: right;
    margin-right: 0px;
}

.m-member-center-main .navbar .right i {
    font-size: 30px;
    color: #e84d00;
}

.m-member-center-main .formik-uploadfield {
    background: #fff;
    border: 1px dashed #e9e9e9
}

.m-member-center-main [class*=" icon-"],
.m-member-center-main [class^=icon-] {
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: iconmps !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: none
}

.m-member-center-main .icon-upload:before {
    content: "î¨"
}

.rc-calendar-picker .rc-calendar-input-wrap>a {
    display: none
}

.rc-calendar-picker .rc-calendar-decade-panel-header,
.rc-calendar-picker .rc-calendar-header,
.rc-calendar-picker .rc-calendar-month-panel-header,
.rc-calendar-picker .rc-calendar-year-panel-header {
    background-color: #3cc2ea
}

.rc-calendar-picker .rc-calendar-month-panel-header a:hover,
.rc-calendar-picker .rc-calendar-year-panel-header a:hover {
    color: #fff;
    opacity: .8
}

.rc-calendar-picker .rc-calendar-date:hover {
    background: #f5f5f5
}

.rc-calendar-picker .rc-calendar-selected-date .rc-calendar-date,
.rc-calendar-picker .rc-calendar-selected-date .rc-calendar-date:hover {
    background: #3cc2ea
}

.rc-calendar-picker .rc-calendar-today .rc-calendar-date {
    border: 1px solid #3cc2ea
}

.rc-calendar-picker li.rc-time-picker-panel-select-option-selected {
    color: #3cc2ea
}